[Desktop Entry]
Version=1.0
Name=bnbutt
Comment=Beats 'n Breaks Use This Tool
GenericName=bnbutt
Keywords=Stream,Audio,Shoutcast,Icecast,Record
Icon=bnbutt
Exec=bnbutt
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Audio;
StartupNotify=true

